@import '~antd/dist/antd.css';

.navigasi {
    background-color: aquamarine;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.nav-btn {
    color: rgb(51, 79, 170);
    text-decoration: none;
    height: 30px;
    width: 40px;
    margin-right: 20px;
}