table {
    border: 1px solid rgb(52, 83, 129);
}

th {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    border: 1px solid red;
}

td {
    font-size: 10px;
    padding: 5px;
}

button {
    background: rgb(58, 101, 156);
    color: white;
}

button:hover {
    cursor: pointer;
    background: rgb(35, 134, 138);
}

.form {
    display: flex;
    width: 35%;
    flex-direction: column;
    text-align: center;
}

.sign-in {
    margin: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 20px;
    border: 1px solid salmon;
    text-align: left;
    border-radius: 5px;
}

.regist {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

input {
    width: 300px;
}