.post {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 45%;
    height: 150px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

.img-thumb {
    max-width: 200px;
    max-height: 150px;
    margin-right: 10px;
}

.img-thumb img {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.content {
    width: 65%;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.content p.title {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
    margin-bottom: 16px;
}

.content p.desc {
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
}

.remove {
    padding: 12px 16px;
    background: red;
    color: white;
    border-radius: 4px;
    outline: none;
    margin-top: 16px;
} 

.update {
    padding: 12px 16px;
    background: green;
    color: white;
    border-radius: 4px;
    outline: none;
    margin-top: 16px;
    margin-right: 10px;
} 

.remove:hover, .update:hover {
    cursor: pointer;
}

.section-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.form-add-post {
    box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
    position: absolute;
    left: 20px;
    width: 45%;
    height: 70%;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.form-add-post label {
    display: block;
    font-size: 14px;
    color: #607D88;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-add-post input, .form-add-post textarea {
    outline: none;
    border: 1px solid #607D88;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607D88;
}

.form-add-post textarea {
    height: 55%;
}

button.btn-submit {
    outline: none;
    border: 1px solid #2196F3;
    padding: 10px 30px;
    border-radius: 4px;
    color: #2196F3;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.post-area {
    position: absolute;
    right: 20px;
}